<% unless resource.new_record? %>
    <div class="panel-plain">
      <div class="panel_contents">
        <h3>Order items</h3>
        <table>
          <thead>
          <tr>
            <th class="date">Item</th>
            <th class="venue">Price</th>
            <th class="quantity">Quantity</th>
            <th class="actions">Actions</th>
          </tr>
          </thead>
          <tbody>
          <% resource.order_items.each do |item| %>
              <tr>
                <td class="name"><%= item.menu_item.name %></td>
                <td class="price"><%= item.menu_item.price %></td>
                <td class="quantity"><%= item.quantity %></td>
                <td class="actions"><%= link_to 'Remove', [:admin, order_item(item)], method: :delete, remote: true %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel-plain">
      <div class="panel_contents">
        <%= semantic_form_for [:admin, resource.order_items.new], remote: true do |f| %>
            <%= f.inputs 'Add Item' do %>
                <% f.input :order_id, as: :hidden, input_html: { value: resource.id } %>
                <% f.input :menu_item, as: :select, collection: MenuItem.all.pluck(:name, :id) %>
                <% f.input :quantity %>
            <% end %>
            <%= f.actions %>
        <% end %>
      </div>
    </div>
<% end %>